<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head.ejs')  %> 
    </head>
 
        
        
<body id="body_profile">
	<header>
		<%- include ('../partials/header.ejs')  %>  
		<link rel="stylesheet" href="/css/profile.css">
	</header> 
	
	<h2 class="">Editing User:  <%= userToEdit.name %></h2>
			<section class="formulario">
			<form action="/users/edit/<%= userToEdit.id_users %>?_method=PUT" method="POST" >	
			
						<label for="nombre">Nombre </label>
						<p><input type="text" name="nombre" id="" value="<%= userToEdit.name %>" required></p>
						
						<label for="surname">Apellido </label>
						<p><input type="text" name="surname" id="" value="<%= userToEdit.surname %>" required></p>
						
						<label for="gamertag">Gamertag </label>
						<p><input type="text" name="gamertag" id="" value="<%= userToEdit.gamertag %>" required></p>
						<br>
						
						<p> <button class="" type="submit">Update</button>
					
						<!-- <a  class="botonVolver" href="../views/users/profile"> </a></p> -->
					</form>
				
			</section>

	
	<footer>
		<%- include ('../partials/footer.ejs')  %>  
	</footer>
</body>
</html>